@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@font-face {
  font-family: 'Panthera';
  src:url(/Assets/typo/panthera.otf)
}
@font-face {
  font-family:'BEYNO';
  src:url(/Assets/typo/BEYNO.otf)
}
@font-face {
  font-family:'BEYNO';
  src:url(/Assets/typo/BEYNO.ttf)
}
@font-face {
  font-family:'Wakanda 4 Ever';
  src:url(/Assets/typo/Wakanda4Ever-gxg5p.ttf)
}

:root {
  --white-color: #FFFFFF;
  --color-one: #F2CEF2;
  --color-two: #9E91B7;
  --color-three: #DF99F2;
  --blue-color-1: #3D2DA6;
  --blue-color-2: #07338C;
  --blue-color-3: #021740;
}

h1 {
  font-family: 'BEYNO';
  font-size: 36px;
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  font-family: 'BEYNO';
  font-size: 18px;
  color: var(--color-two);
  font-weight: 300;
}

p {
  font-family: 'Cantarell';
  font-size: 10px;
  color: var(--white-color);
}

span {
  font-family: 'Cantarell';
  font-size: 10px;
  color: var(--white-color);
}

html {
  font-family: 'Cantarell', sans-serif; 
  background-image: url(../All-pages/arrière_plan.png);
}

.sayna-marvel {
  display: block;
  position: absolute;
  top: 20px;
  left: 119px;
}

.sayna {
  width: 22px;
  cursor: pointer;
}
.x-icon {
  width: 10px;
  padding-bottom: 5px;
}

.marvel {
  width: 60px;
  cursor: pointer;
}

.vertical-line {
  display: flex;
  position: absolute;
  top: 0;
  left: 8px;
}

.t {
  margin-top: 0;
  margin-left: 35px;
  border-left: 3px solid var(--color-two);
  height: 380px;
}
.l {
  margin-top: 0;
  margin-left: 15px;
  border-left: 3px solid var(--color-two);
  height: 250px;
}

.social-media-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 18px;
  margin: 44px;
  position: relative;
  top: 214px;
  left: 9px;
  cursor: pointer;
}

.social-media-icon img{
  margin-bottom: 17px;
}

.nav {
  display: flex;
  justify-content: center;
  flex: 1;
  position: absolute;
  top: 30px;
  right: 100px;
}

.nav ul {
  display: flex;

}
.nav ul li {
  font-family: 'BEYNO';
  font-size: 14px;
  color: white;
  margin-right: 40px;
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
  cursor: pointer;
}

.nav ul li:hover {
  text-decoration: underline;
  color: var(--color-two);
  transition: 0.15s;
}

/* main design */
.panther-home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.panthera-title {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 230px;
  left: 160px;
}

.panthera-title h1 {
  font-family:'Panthera';
  font-weight: 400;
  font-size: 50px;
  color: var(--color-two);
  margin-bottom: 8px;
  
}
.panther img {
  width: 800px;
  position: absolute;
  top: 60px;
  right:40px ;
}

.panthera-title h2 {
  font-family: 'BEYNO';
  font-size: 24px;
  color: var(--color-two);
  font-weight: 400;
  margin-bottom: 20px;
}

.panthera-title p {
  width: 350px;
  font-size: 10px;
  color: var(--white-color);
  font-family: 'Cantarell';
  font-weight: 200;
  line-height: 15px;
  margin-bottom: 10px;
}

.panthera-title span {
  font-size: 10px;
  color: var(--white-color);
  font-family: 'Cantarell';
  font-weight: 200;
  line-height: 15px;
  text-decoration: underline;
  cursor: pointer;
}

/*.container {
  display: flex;
  align-items: center;
  width: 80%;
  position: relative;
  margin-right: 0px;
  margin-top: 200px;
}*/

.container {
  display: block;
  margin: 0 auto;
  width: 80%;
}

.container-home {
  display: grid;
  grid-template-columns: 330px 280px 208px 250px 153px;
  align-items:start;
  justify-content: center;
  float: right;
  margin-top: 350px;
  background-color: var(--blue-color-3);
  padding: 0px;
  height: 240px;
  position: relative;
  left: 0;
}

.panthera-img {
  height: 60px;
}

.panthera-img img{
  position: absolute;
  margin-top: -50px;
  margin-left: 30px;
  width: 300px;
}

.panther-home3 img{
  height: 240px;
}

.panther-home4 img {
  height: 240px;
}

.personage-name {
  padding: 20px;
  margin-top: 30px;
}

.para-texte {
  padding: 0 20px;
}

.voir-plus {
  margin-left: 20px;
  cursor: pointer;
}

.greater-than {
  position: absolute;
  right: 20px;
  font-size: 20px;
  font-weight: 300;
  font-family: 'Wakanda 4 Ever';
  background-color: #021740;
  border-radius: 20px;
  height: 35px;
  width: 35px;
  text-align: center;
  bottom: 40px;
  top: 100px;
  padding-top: 5px;
  cursor: pointer;
}

/* Design de la partie Wakanda story */

.wakanda-story {
  margin-top: 750px;
  display: flex;  
  justify-content: center;
  margin-left: 75px;
}

.wakanda-bio {
  width: 60%;
  margin-right: 100px;
}

.wakanda-description h2{
  font-family: 'BEYNO';
  margin-bottom: 10px;
  padding-top: 20px;
}
.wakanda-description p{
  line-height: 16px;
  text-align: justify;
  padding-bottom: 10px;
}

.wakanda-description span{
  display: block;
  line-height: 16px;
  text-align: justify;
}
#profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

}

.personage-profile {
  background-color: #f7f3f7;
  border-radius: 10px;
  padding-top: 200px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 70px;
  margin-top: 200px;
  width: 90%;
}
.personage-profile h2{
  font-family: 'Cantarell';
  font-size: 18px;
  font-weight: 600;
  color: black;
  text-align: center;
  margin-bottom: 10px;
}

.personage-profile p{
  font-family: 'Cantarell';
  font-size: 10px;
  color: black;
  line-height: 22px;
}
.personage-profile span{
  font-family: 'Cantarell';
  font-size: 12;
  color: black;
  font-weight: 700;
}
.button-bp {
  background-color: var(--blue-color-1);
  border: none;
  width: 80px;
  height: 30px;
  color: var(--white-color);
  font-size: 10px;
  font-family: 'Cantarell';
  border-radius: 4px;
  cursor: pointer;
}
.button-Roi {
  background-color: var(--blue-color-1);
  border: none;
  width: 90px;
  height: 30px;
  color: var(--white-color);
  font-size: 10px;
  font-family: 'Cantarell';
  border-radius: 4px;
  margin-left: 6px;
  margin-right: 6px;
  cursor: pointer;
}
.button-En-vie {
  background-color: var(--blue-color-1);
  border: none;
  width: 50px;
  height: 30px;
  color: var(--white-color);
  font-size: 10px;
  font-family: 'Cantarell';
  border-radius: 4px;
  margin-bottom: 20px;
  cursor: pointer;
}
#profile .personage-picture img{
  height: 300px;
  margin-top: 60px;

}

#profile .profile-picture img{
  width: 280px;
  position: absolute;
  right: 197px;
}

/* Design la partie contact-us*/
#contact-us .formulaire {
  background-image: url(../Accueil/Pantherhome7.png);
  background-size:cover;
  padding-bottom: 20px;
  margin-top: 10px;
  height: 650px;
  display: flex;
  flex-direction: row;

}

#contact-us .formulaire .details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 50%;
  margin-top: 150px;
  background: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.219));
  padding: 30px 140px;
  border-radius: 100px;
  height: 500px;
}

.details h2 {
  text-align: center;
  font-family: 'Cantarell';
  font-size: 14px;
  font-weight: 400;
  color: black;
  margin-bottom: 10px;
}
.details h1 {
  text-align: center;
  font-family: 'Cantarell';
  font-size: 36px;
  font-weight: 700;
  color: black;
  margin-bottom: 20px;
}
.details input[type="name"] {
  background: none;
  border: 1px solid var(--blue-color-3);
  height: 40px;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 10px;
  font-family: 'Cantarell';
  font-size: 12px;
}
.details input[type="email"] {
  background: none;
  border: 1px solid var(--blue-color-3);
  height: 40px;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 10px;
  font-family: 'Cantarell';
  font-size: 12px;
}
.details textarea[name="message"] {
  background: none;
  border: 1px solid var(--blue-color-3);
  height: 150px;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 10px;
  font-family: 'Cantarell';
  font-size: 12px;
}

.details button {
  display: block;
  margin: 0 auto;
  width: 120px;
  height: 40px;
  border: none;
  background-color: var(--color-one);
  border-radius: 20px;
  font-family: 'Cantarell';
  font-size: 10px;
  font-weight: 700;
  margin-top: 10px;
}

/* Design de la partie footer*/

.footer {
  background-image: url(../All-pages/back_footer.png);
  margin-top: 100px;
}