@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@font-face {
  font-family: 'Panthera';
  src:url(/Assets/typo/panthera.otf)
}
@font-face {
  font-family:'BEYNO';
  src:url(/Assets/typo/BEYNO.otf)
}
@font-face {
  font-family:'BEYNO';
  src:url(/Assets/typo/BEYNO.ttf)
}
@font-face {
  font-family:'wakandaforever';
  src:url(/Assets/typo/WakandaForever-Regular.ttf)
}

:root {
  --white-color: #FFFFFF;
  --color-one: #F2CEF2;
  --color-two: #9E91B7;
  --color-three: #DF99F2;
  --blue-color-1: #3D2DA6;
  --blue-color-2: #07338C;
  --blue-color-3: #021740;
}

html {
  font-family: 'Cantarell', sans-serif; 
  background-image: url(../All-pages/arrière_plan.png);
  background-size: cover;
  background-repeat:no-repeat;
}

.container {
  width: 80%;
}
.nav {
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 90px;
  margin-top: 30px;
}

.nav-icon .sayna {
  width: 22px;
  cursor: pointer;
}
.nav-icon .icon-x {
  width: 10px;
  margin-bottom: 5px;
  cursor: pointer;
}
.nav-icon .marvel {
  width: 60px;
  cursor: pointer;
}

.nav-list a{
  text-decoration: none;
  color: var(--white-color);
  margin-right: 40px;
  font-family: 'BEYNO';
  cursor: pointer;
}
.nav-list a:hover {
  color: var(--color-two);
  text-decoration: underline;
}
.nav-list .enigme {
  color: #9E91B7;
  text-decoration: underline;
}
.panther-enigme {
  display: flex;
}
.enigme-img img{
  width: 1000px;
  position:relative;
  top: -200px;
  left: -50px;
}

.defi {
  display: flex;
  flex-direction: column; 
  position: absolute;
  right: 120px;
  top: 200px;
}

.defi h1 {
  font-family: 'BEYNO';
  font-size: 48px;
  font-weight: 500;
  color: var(--color-two);
  margin-top: 10px;
  margin-bottom: 0;
  position: relative;
  right: 60px; 
  letter-spacing: 4px;
}
.defi h2 {
  font-family: 'BEYNO';
  font-size: 48px;
  font-weight: 500;
  color: var(--color-two);
  margin-top: 10px;
  margin-bottom: 0;
  position: relative;
  right: 60px; 
}

.defi p {
  font-family: 'Cantarell';
  font-size: 10px;
  font-weight: 400;
  color: var(--white-color);
  width: 400px;
  line-height: 15px;
  margin-bottom: 0;
  margin-top: 0;
  position: absolute;
  top: 245px;
  text-align: justify;
}
.defi img {
  width: 600px;
  position: absolute;
  right: -60px;
  top: 120px;
}
.defi span {
  font-family: 'Cantarell';
  font-size: 10px;
  color: var(--white-color);
  font-weight: 400;
  width: 400px;
  position: absolute;
  top: 310px;
  text-align: justify;
}

.transcription p {
  display: block;
  margin-left: 180px;
  font-family: 'wakandaforever';
  color: var(--color-two);
  font-size: 22px;
  font-weight: 500;
  width: 64%;
  letter-spacing: 7px;
  line-height: 40px;
}

.container {
  display: block;
  position: relative;
  top: -200px;
}
.script p span {
  font-family: 'wakandaforever';
  font-family: 10px;
  font-weight: 300;
  color: var(--white-color);
}

.script p {
  font-family: 'Cantarell';
  font-family: 10px;
  font-weight: 300;
  color: var(--white-color);
  width: 500px;
  margin-right: 0;
}

.letter-coding {
  display: flex;
  flex-direction: row;
  margin-left: 170px;
  margin-right: 70px;
  position: relative;
  top: -180px;
}

.alphabet {
  display: flex;
  flex-direction: column;
  
}
.letter-e {
  display: flex;
  flex-direction: column;
  margin-right: 170px;
}

.alphabet .tittle {
  font-family: 'Cantarell';
  font-size: 10px;
  margin-bottom: 0;
  color: var(--white-color);
}
.letter-e img {
  width: 550px;
  position: relative;
  top: -120px;
  right: -40px;
}
.letter-e p {
  width: 400px;
  font-family: 'Cantarell';
  font-size: 10px;
  text-align: center;
  color: var(--white-color);
  margin-left: 80px;
  position: relative;
  top: 90px;
  left: 20px;
}

.defi .ligne {
  position: absolute;
  top: 460px;
}