@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@font-face {
  font-family: 'Panthera';
  src:url(/Assets/typo/panthera.otf)
}
@font-face {
  font-family:'BEYNO';
  src:url(/Assets/typo/BEYNO.otf)
}
@font-face {
  font-family:'BEYNO';
  src:url(/Assets/typo/BEYNO.ttf)
}
@font-face {
  font-family:'wakandaforever';
  src:url(/Assets/typo/WakandaForever-Regular.ttf)
}

:root {
  --white-color: #FFFFFF;
  --color-one: #F2CEF2;
  --color-two: #9E91B7;
  --color-three: #DF99F2;
  --blue-color-1: #3D2DA6;
  --blue-color-2: #07338C;
  --blue-color-3: #021740;
}

body {
  font-family: 'Cantarell', sans-serif; 
  background-image: url(../All-pages/arrière_plan.png);
  background-size: cover;
  background-repeat:no-repeat;
  margin-left: 0;
  margin-right: 0;
}


.nav {
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 90px;
  margin-top: 30px;
}

.nav-icon .sayna {
  width: 22px;
  cursor: pointer;
}
.nav-icon .icon-x {
  width: 10px;
  margin-bottom: 5px;
  cursor: pointer;
}
.nav-icon .marvel {
  width: 60px;
  cursor: pointer;
}

.nav-list a{
  text-decoration: none;
  color: var(--white-color);
  margin-right: 40px;
  font-size: 14px;
  font-family: 'BEYNO';
  cursor: pointer;
}
.nav-list a:hover {
  color: var(--white-color);
  text-decoration: underline;
}
.nav-list a:active {
  color: var(--color-two);
  text-decoration: underline;
}
.nav-list .wakanda {
  color: #ffffff;
  text-decoration: none;
}
.panther-enigme {
  display: flex;
}
.enigme-img img{
  width: 1000px;
  position:relative;
  top: -200px;
  left: -50px;
}

/*Design de la partie main*/
.wakanda-forever {
  background-image: url(../Wakanda/Pantherwakanda1.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  margin-bottom: 100px;
}
.wakanda-title {
  margin-left: 135px;
  width: 800px;
}

.wakanda-title h1 {
  font-family: 'BEYNO';
  font-size: 48px;
  font-weight: 500;
  color: var(--color-two);
  padding-top: 225px;
  margin-bottom: 20px;
}
.wakanda-title h2 {
  font-family: 'wakandaforever';
  font-size: 26px;
  font-weight: 300;
  color: #9E91B7;
  letter-spacing: 5px;
  margin-top: 0;
  padding-top: 0;
  line-height: 0;
}
.wakanda-title p{
  width: 320px;
  font-family: 'Cantarell';
  font-size: 10px;
  font-weight: 300px;
  color: #ffffff;
  text-align: justify;
  margin-top: 50px;
}
.articles-section {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: center;
  margin: 0 auto;
}
.paragraph {
  width: 50%;
  padding: 0 40px;
}
.paragraph h2 {
  color: var(--white-color);
  font-family: 'BEYNO';
  font-size: 18px;
  font-weight: 400;
  color: var(--color-two);
}
.paragraph p {
  color: var(--white-color);
  font-family: 'Cantarell';
  font-size: 12px;
  font-weight: 400;
  text-align: justify;
}
.video-link {
  height: 140px;
  background-color: var(--blue-color-1);
  padding: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.video-link a {
  color: var(--white-color);
  font-family: 'Cantarell';
  font-size: 14px;
  line-height: 50px;
  font-weight: 300;
}
.wakanda img {
  width: 450px;
}
.align {
  display: flex;
  flex-direction: column;
}
.paragraph p {
  margin-bottom: 30px;
}
main .back-panther {
  width: 1100px;
  margin: 0 auto;
 position: absolute;  
 top: 620px;
 left: 110px;
 opacity: 50%;
}
/* Design de la partie footer*/

.footer {
  background-image: url(../All-pages/back_footer.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: -8px;
  margin-top: 80px;
}
.a-propos {
  display: flex;
  flex-direction: row;
  justify-content:baseline;
  margin-top: 150px;
}
.footer-section {
  display: flex;
  justify-content: space-between;
  flex: 3;
  margin-right: 40px;
}
.logo-sm .fsm-1 {
  display: block;
  position: relative;
  left: 342px;
  top: 280px;
  height: 30px;
}

.logo-sm .fsm-2 {
  height: 300px;
  margin-top: 120px;
  margin-left: 280px;
  margin-bottom: 50px;
}

.logo-sm:hover .fsm-2 {
  height: 305px;
  transition: 0.15s;
}
.logo-sm:hover .fsm-1 {
  height: 31px;
  transition: 0.15s;
}

.link-list h2{
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--white-color);
  letter-spacing: 0.6px;
  margin-bottom: 30px;
}

.link-list a{
  display: inline-block;
  text-decoration: none;
  align-items: center;
  color: var(--white-color);
  font-size: 12px;
  font-family: 'Cantarell';
  line-height:30px;
  cursor: pointer;
}

.link-list {
  margin-right: 150px;
  margin-bottom: 100px;
}
.link-list .a-link {
  display: block;
}
.link-list img{
  width: 35px;
  margin-right: 28px;
  cursor: pointer;
}
.facebook:hover {
  filter: brightness(115%);
  transition: 0.15s;
}
.instagram:hover {
  filter: brightness(115%);
  transition: 0.15s;
}
.twitter:hover {
  filter: brightness(115%);
  transition: 0.15s;
}
.tiktok:hover {
  filter: brightness(115%);
  transition: 0.15s;
}
.copyright p {
  color: var(--white-color);
  font-size: 12px;
}